
<footer>
  <p>&copy; <%= current_year %> <%= t('.author') %> | <%= github_url("86svg", "test_guru")%> </p>
  <p><%= t('.application_purpose') %></p>
  <p> <%= link_to  t('.project_school'), 'https://thinknetica.com/', target: "_blank",  rel: 'nofollow', rel: 'noopener'%> </p>
</footer>
